
<%= form_for(@employee) do |f| %>


  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_name %><br>
    <%= f.text_field :employee_name %>
  </div>
  <div class="field">
    <%= f.label :employee_address %><br>
    <%= f.text_field :employee_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :employee_email %><br>
    <%= f.text_field :employee_email %>
  </div>
  <div class="field">
    <%= f.label :employee_phone %><br>
    <%= f.text_field :employee_phone %>
  </div>
  <div class="field">
    <%= f.label :social_security %><br>
    <%= f.text_field :social_security %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
