<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee name</th>
      <th>Employee address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Employee email</th>
      <th>Employee phone</th>
      <th>Social security</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_name %></td>
        <td><%= employee.employee_address %></td>
        <td><%= employee.city %></td>
        <td><%= employee.state %></td>
        <td><%= employee.zip_code %></td>
        <td><%= employee.employee_email %></td>
        <td><%= employee.employee_phone %></td>
        <td><%= employee.social_security %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
