<p id="notice"><%= notice %></p>

<p>
  <strong>Employee name:</strong>
  <%= @employee.employee_name %>
</p>

<p>
  <strong>Employee address:</strong>
  <%= @employee.employee_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @employee.zip_code %>
</p>

<p>
  <strong>Employee email:</strong>
  <%= @employee.employee_email %>
</p>

<p>
  <strong>Employee phone:</strong>
  <%= @employee.employee_phone %>
</p>

<p>
  <strong>Social security:</strong>
  <%= @employee.social_security %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
