<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @invoice.employee_id %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @invoice.appointment_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
