<%= form_for(@physician) do |f| %>
  <% if @physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% @physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :physician_name %><br>
    <%= f.text_field :physician_name %>
  </div>
  <div class="field">
    <%= f.label :physician_address %><br>
    <%= f.text_field :physician_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :physician_email %><br>
    <%= f.text_field :physician_email %>
  </div>
  <div class="field">
    <%= f.label :physician_phone %><br>
    <%= f.text_field :physician_phone %>
  </div>
  <div class="field">
    <%= f.label :social_security %><br>
    <%= f.text_field :social_security %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
