<h1>Listing physicians</h1>

<table>
  <thead>
    <tr>
      <th>Physician name</th>
      <th>Physician address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Physician email</th>
      <th>Physician phone</th>
      <th>Social security</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.physician_name %></td>
        <td><%= physician.physician_address %></td>
        <td><%= physician.city %></td>
        <td><%= physician.state %></td>
        <td><%= physician.zip_code %></td>
        <td><%= physician.physician_email %></td>
        <td><%= physician.physician_phone %></td>
        <td><%= physician.social_security %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Edit Physician", new_physician_path %>
