<p id="notice"><%= notice %></p>

<p>
  <strong>Physician name:</strong>
  <%= @physician.physician_name %>
</p>

<p>
  <strong>Physician address:</strong>
  <%= @physician.physician_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @physician.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @physician.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @physician.zip_code %>
</p>

<p>
  <strong>Physician email:</strong>
  <%= @physician.physician_email %>
</p>

<p>
  <strong>Physician phone:</strong>
  <%= @physician.physician_phone %>
</p>

<p>
  <strong>Social security:</strong>
  <%= @physician.social_security %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
