


          <!-- <li class="has-dropdown">
             <a href="#">Edit Diagnostic</a>
             <ul class="dropdown">
            <li class="active"> </li>
              </ul>
           </li>





      <li class="has-dropdown">
      <a href="#">Edit Appointment</a>
      <ul class="dropdown">
      <li class="active"> </li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#">Edit Physician</a>
        <ul class="dropdown">
           <li class="active"> </li>
            </ul>
        </li>


      </li>
      <li class="divider"></li>
    </ul>
    </body>
