<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_name %><br>
    <%= f.text_field :patient_name %>
  </div>
  <div class="field">
    <%= f.label :patient_address %><br>
    <%= f.text_field :patient_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :patient_email %><br>
    <%= f.text_field :patient_email %>
  </div>
  <div class="field">
    <%= f.label :patient_phone %><br>
    <%= f.text_field :patient_phone %>
  </div>
  <div class="field">
    <%= f.label :insurance_id %><br>
    <%= f.collection_select :insurance_id, Insurance.all, :id,:name  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
