<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      <th>Patient name</th>
      <th>Patient address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Patient email</th>
      <th>Patient phone</th>
      <th>Insurance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.patient_name %></td>
        <td><%= patient.patient_address %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.zip_code %></td>
        <td><%= patient.patient_email %></td>
        <td><%= patient.patient_phone %></td>
        <td><%= patient.insurance.name %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
