<p id="notice"><%= notice %></p>

<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Patient address:</strong>
  <%= @patient.patient_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @patient.zip_code %>
</p>

<p>
  <strong>Patient email:</strong>
  <%= @patient.patient_email %>
</p>

<p>
  <strong>Patient phone:</strong>
  <%= @patient.patient_phone %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
