<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select :physician_id, Physician.all, :id,:physician_name, :prompt => "Select one" %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :patient_name, :prompt => "Select one"  %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, :id => "datetimepicker_mask"  %>
    <script>
        $( "#datetimepicker_mask" ).(datetimepicker);
    </script>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>t
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.collection_select :diagnostic_id, Diagnostic.all, :id, :description, :prompt => "Select one" %>
  </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.collection_select :status_id, Status.all, :id, :status_name, :prompt => "Select one"  %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
