<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>Patient</th>
      <th>Date</th>
      <th>Reason</th>
      <th>Note</th>
      <th>Diagnostic</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.physician_name %></td>
        <td><%= appointment.patient.patient_name %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.diagnostic.description %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Printible Recepit (PDF)', appointment_path(appointment, format: "pdf") %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
