<table id="notice"><%= notice %>

<tr>
  <td>Physician:</td>
  <td>Patient:</td>
  <td>Date:</td>
  <td>Reason:</td>
  <td>Note:</td>
  <td>Diagnostic:</td>


</tr>

  <tr>
    <td> <%= @appointment.patient.patient_name %>:</td>
    <td>  <%= @appointment.date %>:</td>
    <td>  <%= @appointment.reason %>      :</td>
    <td>  <%= @appointment.note %>      :</td>
    <td>  <%= @appointment.diagnostic.description %>      :</td>
    <td>  <%= @appointment.diagnostic.description %>      :</td>
  </tr>

</table>




<%= link_to 'Edit', edit_appointment_path(@appointment) %> |

   <%= link_to 'Back', appointments_path %>

