<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>


    <%= csrf_meta_tags %>




  </head>



  </head>

  <body>




  <nav class="top-bar" data-options="is_hover:false" >
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#">H-TOWN Dermatologists</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li> <%= link_to "Employees", employees_path %></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li> <%= link_to "Patient", patients_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Appointment", appointments_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Physician", physicians_path %></li>
      </ul>



      <ul class="right">
          <li class="has-dropdown">
          <a href="#">Admin</a>


          <ul id="hover" class="has-dropdown" >

            <li class="active"> <%= link_to "Edit Diagnostic", diagnostics_path %></li>
            <li class="active"><%= link_to "Edit Appointment", appointments_path %></li>
            <li class="active"><%= link_to "Edit Physician", physicians_path %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>